.f-lr {
    font-size: larger;
}

.f-l {
    font-size: large;
}

.f-m {
    font-size: medium;
}

.f-s {
    font-size: small;
}

.f-sr {
    font-size: smaller;
}

.f-xl {
    font-size: x-large;
}