.p-1 {
    padding: 10px;
}
.p-2 {
    padding: 20px;
}
.p-3 {
    padding: 30px;
}

.u-card {
    background-color: var(--lightgrey);
    padding: 10px;
    box-shadow: 2px 2px 5px grey;
}

.u-input {
    padding: 10px 20px;
    border-radius: 8px;
    outline: none;
    border: none;
    background-color: var(--lightgrey);
    color: var(--black);
}